{
  "extends": "@react-native-community",
  "rules": {
    "indent": ["error", 2],
    "semi": ["error", "never"],
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "comma-dangle": ["error", "never"],
    "no-param-reassign": ["error", { "props": false }],
    "react/react-in-jsx-scope": "off",
    "arrow-body-style": ["error", "as-needed"],
    "implicit-arrow-linebreak": "off",
    "react/jsx-props-no-spreading": "off",
    "react/function-component-definition": "off",
    "linebreak-style": 0,
    "react/jsx-tag-spacing": "off",
    "react/jsx-closing-bracket-location": "off",
    "object-curly-newline": "off",
    "react/jsx-no-useless-fragment": "off",
    "no-console": "off",
    "no-nested-ternary": "off",
    "react/no-unescaped-entities": "off"
  }
}
